video {
  width: 33%;
}

html, body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
}

button, select, option {
  text-transform: uppercase;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px;
  padding: 0.7em;
  font-size: 14pt;
  margin: 0.5em;
  border-width: 0;
  outline-color: #666;
  background-color: #666;
  color: white;
}

select {
  margin: 0;
}

.button-purge {
  color: white;
  font-weight: bold;
  background-color: rgb(255, 0, 0);
  outline-color: red;
  border-color: red;
  box-shadow: 0 0 7px 0px rgb(255, 0, 0);
}

.js-toast {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.82);
  color: white;
  font-size: 16pt;
  font-family: sans-serif;
  padding: 1em;
  border-radius: 1em;
  width: 80%;
  top: 25%;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1;
  flex-grow: 8;
  overflow-y: scroll;
}

.title-bar {
  background-color: #333;
  color: white;
  border-bottom: 1px solid white;
}

.action-bar {
  flex: 1;
  background-color: black;
  color: white;
  display: block;
  width: 100%;
}

.title {
  padding: 0.5em;
  display: block;
  background-color: #333;
  color: white;
  border-bottom: 1px solid white;
  width: 100%;
}

.with-margin {
  margin: 1em;
}

.with-border-top {
  border-top: 1px solid #666;
}

[hidden] {
  display: none;
}

nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 80%;
  color: white;
  background-color: #000000c7;
  /* top: 0; */
  /* left: 0; */
  height: 100%;
  z-index: 99999;
}


.flex {
  flex: 1;
  flex-grow: 8;
}

.scroll {
  overflow-y: scroll;
}

nav > div > ul > li {
  display: block;
  padding: 0.5em;
  margin: 0.5em;
}


nav > div > ul {
  padding: 0;
}

nav > div > ul > li > a {
  color: white;
  text-decoration: none;
}

nav > div > ul > li > button {
  width: 100%;
  margin: 0;
  text-align: left;
}

.datatable {
  border-collapse: collapse;
}

th {
  background-color: #eee;
  text-transform: uppercase;
}

.datatable * > td, th {
  border: 1px solid #666;
  padding: 0.4em;
}

.js-config {
  color: #fff;
  background-color: #000000d6;
}

.js-instruction {
  padding: 1em;
  background-color: #eee;
}
